<!DOCTYPE html>
<http lang = "zn-cmn">
<head>
<title>登录信息专家征集系统</title>
<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/login.css">
</head>

<body>
<div class = "container">
	<div class = "header">
		<a class = "header_logo" href = "/">专家征集系统</a>
	</div>
	<div class = "content">
		<div class = "content_wrapper">
			<div class = "login_container" id = "login" style = "width: 334px; height: 387px; visibility: visible;">
				<iframe name = "login_frame" width = "100%" height = "100%" 
					id = "login_frame" src = "http://localhost:3000/Login/simpleLogin" 
					frameborder = "0" scrolling = "no">
				</iframe>
			</div>
			<div class = "login_pictures">
				<div class="login_pictures_picture" style="background-image:url('http://localhost:3000/image/login_picture.jpg');
					background-position:right 20px;">
				</div>
			</div>
		</div>
	</div>
</div>
<div class = "footer">
<span class = "gray">
此页面不做商业用途
</span>
</div>
</body>
</http>