<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/userHome.css">
    </head>
    <body>
        <div class = "header">
            <a class="header_logo" href = "/"></a>
            <div id = "header_link" class="header_link">
                <a href="http://localhost:3000/Login">登录</a>
                <a href="http://localhost:3000/signup">注册</a>
            </div>
        </div>
        <div class="content"align="left">
            <div class = "dir">
                <a href="http://localhost:3000/views/home.html" target="iframe_a">首页</a>
                <br>
                <a href ="/">修改信息</a>
                <br>
                <a href="http://localhost:3000/views/modifyPwd.html" target="iframe_a">修改密码</a>
            </div>
            <div class = "section">
                <iframe src="http://localhost:3000/views/home.html" name="iframe_a"></iframe>
            </div>
        </div>
        <div class = "footer">
            <label>不做商业用途</label>
        </div>
    <body>
</html>