<html>
    <head>
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/userInfo.css">
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
	<script src="http://localhost:3000/js/userInfo.js"></script>
    </head>
    <body>
        <div class = "header">
        </div>
        <div class = "container">
            
            <div class = "area">
                <div class = "title_">
                    <b> 基本信息 </b>
                </div>
                <div class = "sec_1">
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>专家证书编号：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "1" type = "text"></input>
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>专家证书有效时间：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "2" type = "date"></input>
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>专家姓名：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "3" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>专家性别：</label>
                        </div>
						<div class = "inputStyle">
                            <select id = "4" >
                                <option value = "男"/>男
                                <option value = "女"/>女
                            </select>*
                        </div>
                    </div>
                    
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>出生日期：</label>
                        </div>
						<div class = "inputStyle">
                            <input id = "5" type = "date"></input>*
                        </div>
                    </div>
                    
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>政治面貌：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "6" type = "text"></input>*
                        </div>
                    </div>
                    
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>颁发机构：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "7" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>最高学历：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "8">
                                <option value = "小学">小学</option>
                                <option value = "初级中学">初级中学</option>
                                <option value = "高级中学">高级中学</option>
                                <option value = "大学专科">大学专科</option>
                                <option value = "大学本科">大学本科</option>
                                <option value = "硕士研究生">硕士研究生</option>
                                <option value = "博士研究生">博士研究生</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>职称：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "9" type = "text"></input>*
                        </div>
                    </div>
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>职务：</label>
                        </div>
						<div class = "inputStyle">
                            <input id = "10" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>是否退休：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "11">
                                <option value = "是">是</option>
                                <option value = "否">否</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>邮政编码：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "12" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>移动电话：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "13" type = "text"></input>*
                        </div>
                    </div>
                    
                </div>
                <div class = "sec_1">
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>状态：</label>
						</div>
                        <label id = "14"></label>
                    </div>
                    
                    <div class = "imgBlock">
                        <form id = "form" method="post" enctype="multipart/form-data" action="http://localhost:3000/User/selectImg">
                            <input id = "file" name = "photo" type = "file"/> 
                        </form>
                        <img id = "img"/>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>证件类型</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "15">
                                <option value = "居民身份证">居民身份证</option>
                                <option value = "护照">护照</option>       
                                <option value = "港澳居民往来内地通行证">港澳居民往来内地通行证</option>
                                <option value = "台湾居民来往大陆通行证">台湾居民来往大陆通行政</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>证件编号：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "16" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>最高学位：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "17" >
                                <option value = "学士">学士</option>
                                <option value = "硕士">硕士</option>
                                <option value = "博士">博士</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>证书编号：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "18" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>从业时长</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "19" >
                                <option value = "从未">从未</option>
                                <option value = "五年以下">五年以下</option>
                                <option value = "五年以上">五年以上</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>是否兼职：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "20" >
                                <option value = "是">是</option>
                                <option value = "否">否</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>电子邮箱：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "21" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>家庭电话</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "22" type = "text"></input>*
                        </div>
                    </div>
                </div>
				    <div class = "longInputBlock">
						<div class = "textfield">
							<label>工作单位</label>
						</div>
						<div class = "lInputStyle">
							<input id = "23" type = "text"></input>*
						</div>
					</div>
					<div class = "longInputBlock">
						<div class = "textfield">
							<label>详细通信地址</label>
						</div>
						<div class = "lInputStyle">
							<input id = "24" type = "text"></input>*
						</div>
					</div>
					<div class = "longInputBlock">
						<div class = "textfield">
							<label>毕业院校及专业</label>
						</div>
						<div class = "lInputStyle">
							<input id = "25" type = "text"></input>*
						</div>
					</div>
                    <div class = "longInputBlock">
						<div class = "textfield">
							<label>评审领域：</label>
						</div>
                        <div class = "inputStyle2">
                            <input id = "26" type = "text" disabled = "disable"></input>
						</div>
						<div class = "inputStyle2">
                            <input id = "27" type = "text" disabled = "disable"></input>
						</div>
						<div class = "inputStyle2">
                            <input type = "button" id ="b1" value = "选择评审领域" onclick = "showDialog();"></input>
						</div>
						<div class = "dialog" id = "d1">
							<div class = "dialogHeader">
								<label>评审领域最多两项</label>
								<input type = "button" value = "确定" onclick = "addJudgeField();"/>
								<input type = "button" value = "关闭" onclick = "closeDialog();"/>
							</div>
							<div class = "dialogForm">
								<input type = "checkbox" value = "幼儿园评估" name = "judge"/>幼儿园评估
								<input type = "checkbox" value = "小学教育评估" name = "judge"/>小学教育评估
								<input type = "checkbox" value = "中学教育评估" name = "judge"/>中学教育评估
								<br>
								<input type = "checkbox" value = "中职教育评估" name = "judge"/>中职教育评估
								<input type = "checkbox" value = "高职教育评估" name = "judge"/>高职教育评估
								<input type = "checkbox" value = "高校教育评估" name = "judge"/>高校教育评估
							</div>
						</div>
                    </div>    
            </div>
			<div class = "area">
				 <div class = "title_">
                    <b>资格证书 </b>
                    <input type = "button" id ="b2" value = "增加资格证书" onclick = "addNewS();"></input>
                </div>
				<div class = "Text4_" id = "28">
					<label>资格证书</label>
				</div>
				<div class = "Text4_" id = "29">
					<label>资格证书级编号</label>
				</div>
				<div class = "Button_" id = "30">
					<label>操作</label>
				</div>
			</div>
            <div class = "area">
                <div class = "title_">
                    <b> 评估/评审经历 </b>
                    <input type = "button" id ="b3" value = "增加评估/评审经历" onclick = "addNewT();"></input>
                </div>
                <div class = "sec_2">
                    <div class = "Date_" id = "31">
                        <label>时间</label>
                    </div>
                    <div class = "Text_" id = "32">
                        <label>任务名称</label>
                    </div>
                    <div class = "Text_" id = "33">
                        <label>任务描述</label>
                    </div>
                    <div class = "Select_" id = "34">
                        <label>任务类型</label>
                    </div>
                    <div class = "Button_" id = "35">
                        <label>操作</label>
                    </div>
				</div>
			</div>
            <div class = "area">
                <div class = "title_">
                    <b>工作经历 </b>
                    <input type = "button" id ="b4" value = "增加工作经历" onclick = "addNewW();"></input>
                </div>
                <div class = "sec_2">
                    <div class = "Date_" id = "36">
                        <label>起始时间</label>
                    </div>
                    <div class = "Date_" id = "37">
                        <label>终止时间</label>
                    </div>
                    <div class = "Text_" id = "38">
                        <label>工作单位</label>
                    </div>
                    <div class = "Text2_" id = "39">
                        <label>职务</label>
                    </div>
                    <div class = "Text2_" id = "40">
                        <label>证明人</label>
                    </div>
                    <div class = "Button_" id = "41">
                        <label>操作</label>
                    </div>
                </div>
            </div>
            <div class = "area">
                <div class = "title_">
                    <b>业务专长（不超过300字）</b>
                </div>
                <div class = "TBox">
                    <textarea type = "text" id = "42"></textarea>
                </div>
            </div>
            <div class = "area">
                <div class = "title_">
                    <b>工作业绩（不超过300字） </b>
                </div>
                <div class = "TBox">
                    <textarea type = "text" id = "43"></textarea>
                </div>
            </div>
            <div class = "area">
                <div class = "title_">
                    <b>回避单位</b>
                    <input type = "button" id ="b5" value = "增加回避单位" onclick = "addNewC();"></input>
                </div>
                <div class = "Text3_" id= "44">
                    <label>单位名称</label>
                </div>
                <div class = "Select2_" id = "45">
                    <label>是否工作单位<label>
                </div>
                <div class = "Button_" id = "46">
                    <label>操作<label>
                </div>
            </div>
            <div class = "area">
                <div class = "title_">
                     <b>其他说明（不超过300字） </b>
                </div>
                <div class = "TBox">
                    <textarea type = "text" id = "47"></textarea>
                </div>
            </div>
            <div class = "btn">
				<input type = "button" value = "编辑" onclick="un1();"></input>
				<input type = "button" value = "保存" onclick="saveData();"></input>
				<input type = "button" value = "提交"></input>
            </div>
        </div>
    </body>
</html>