<html>
    <head>
	<link rel="stylesheet" type="text/css" href="./userInfo.css">
    </head>
    <body>
        <div class = "header">
        </div>
        <div class = "container">
            
            <div class = "area">
                <div class = "title_">
                    <b> 基本信息 </b>
                </div>
                <div class = "sec_1">
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>专家证书编号：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "1" type = "text" disabled="disabled"></input>
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>专家证书有效时间：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "2" type = "text" disabled="disabled"></input>
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>专家姓名：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "3" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>专家性别：</label>
                        </div>
						<div class = "inputStyle">
                            <input id = "4" type = "text"></input>*
                        </div>
                    </div>
                    
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>出生日期：</label>
                        </div>
						<div class = "inputStyle">
                            <input id = "5" type = "text"></input>*
                        </div>
                    </div>
                    
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>政治面貌：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "6" type = "text"></input>*
                        </div>
                    </div>
                    
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>颁发机构：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "7" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>最高学历：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "8">
                                <option value = "小学">小学</option>
                                <option value = "初级中学">初级中学</option>
                                <option value = "高级中学">高级中学</option>
                                <option value = "大学专科">大学专科</option>
                                <option value = "大学本科">大学本科</option>
                                <option value = "硕士研究生">硕士研究生</option>
                                <option value = "博士研究生">博士研究生</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>职称：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "9" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>职务：</label>
                        </div>
						<div class = "inputStyle">
                            <input id = "11" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>是否退休：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "11">
                                <option value = "是">是</option>
                                <option value = "否">否</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>邮政编码：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "12" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>移动电话：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "13" type = "text"></input>*
                        </div>
                    </div>
                    
                </div>
                <div class = "sec_1">
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>状态：</label>
						</div>
                        <label id = "14"></label>
                    </div>
                    
                    <div class = "imgBlock">
                        <img></img>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>证件类型</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "15">
                                <option value = "居民身份证">居民身份证</option>
                                <option value = "护照">护照</option>       
                                <option value = "港澳居民往来内地通行证">港澳居民往来内地通行证</option>
                                <option value = "台湾居民来往大陆通行证">台湾居民来往大陆通行政</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>证件编号：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "16" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>最高学位：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "17" >
                                <option value = "学士">学士</option>
                                <option value = "硕士">硕士</option>
                                <option value = "博士">博士</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>证书编号：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "18" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>最高学位：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "19" >
                                <option value = "从未">从未</option>
                                <option value = "五年以下">五年以下</option>
                                <option value = "五年以上">五年以上</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>是否兼职：</label>
						</div>
                        <div class = "inputStyle">
                            <select class = "inputStyle" id = "20" >
                                <option value = "是">是</option>
                                <option value = "否">否</option>
                            </select>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>电子邮箱：</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "21" type = "text"></input>*
                        </div>
                    </div>
                    
                    <div class = "inputBlock">
						<div class = "textfield">
							<label>家庭电话</label>
						</div>
                        <div class = "inputStyle">
                            <input id = "22" type = "text"></input>*
                        </div>
                    </div>
                </div>
				    <div class = "longInputBlock">
						<div class = "textfield">
							<label>工作单位</label>
						</div>
						<div class = "lInputStyle">
							<input id = "23" type = "text"></input>*
						</div>
					</div>
					<div class = "longInputBlock">
						<div class = "textfield">
							<label>详细通信地址</label>
						</div>
						<div class = "lInputStyle">
							<input id = "24" type = "text"></input>*
						</div>
					</div>
					<div class = "longInputBlock">
						<div class = "textfield">
							<label>毕业院校及专业</label>
						</div>
						<div class = "lInputStyle">
							<input id = "24" type = "text"></input>*
						</div>
					</div>
					<div class = "longInputBlock2">
                        <div class = "textfield">
							<label>资格证书级编号</label>
						</div>
                        <div class = "inputStyle2">
                            <input type = "text" id = "25"></input>
                        </div>
                        <div class = "inputStyle2">
                            <input type = "text" id = "26"></input>
                        </div>
                        <div class = "textfield">
                            <input type = "button" style="position:relative; top:10px;" width = "80px" value = "增加资格证书"></input>
                            <input type = "button" style="position:relative; top:10px;" width = "80px" value = "删除"></input>
                        </div>
					</div>
                    <div class = "longInputBlock">
						<div class = "textfield">
							<label>评审领域：</label>
						</div>
                        <div class = "inputStyle2">
                            <input id = "27" type = "text" disabled = "disable"></input>
						</div>
						<div class = "inputStyle2">
                            <input id = "28" type = "text" disabled = "disable"></input>
						</div>
						<div class = "inputStyle2">
                            <input type = "button" value = "选择评审领域"></input>
						</div>
                    </div>    
            </div>
            <div class = "area">
                <div class = "title_">
                    <b> 评估/评审经历 </b>
                    <input type = "button" value = "增加评估/评审经历"></input>
                </div>
                <div class = "sec_2">
                    <div class = "Date_">
                        <label>时间</label>
                    </div>
                    <div class = "Text_">
                        <label>任务名称</label>
                    </div>
                    <div class = "Text_">
                        <label>任务描述</label>
                    </div>
                    <div class = "Select_">
                        <label>任务类型</label>
                    </div>
                    <div class = "Button_">
                        <label>操作</label>
                    </div>
				</div>
			</div>
            <div class = "area">
                <div class = "title_">
                    <b>工作经历 </b>
                    <input type = "button" value = "增加工作经历"></input>
                </div>
                <div class = "sec_2">
                    <div class = "Date_">
                        <label>起始时间</label>
                    </div>
                    <div class = "Date_">
                        <label>终止时间</label>
                    </div>
                    <div class = "Text_">
                        <label>工作单位</label>
                    </div>
                    <div class = "Text2_">
                        <label>职务</label>
                    </div>
                    <div class = "Text2_">
                        <label>证明人</label>
                    </div>
                    <div class = "Button_">
                        <label>操作</label>
                    </div>
                </div>
            </div>
            <div class = "area">
                <div class = "title_">
                    <b>业务专长（不超过300字）</b>
                </div>
                <div class = "TBox">
                    <textarea type = "text"></textarea>
                </div>
            </div>
            <div class = "area">
                <div class = "title_">
                    <b>工作业绩（不超过300字） </b>
                </div>
                <div class = "TBox">
                    <textarea type = "text"></textarea>
                </div>
            </div>
            <div class = "area">
                <div class = "title_">
                    <b>回避单位</b>
                    <input type = "button" value = "增加回避单位"></input>
                </div>
                <div class = "Text3_">
                    <label>单位名称</label>
                </div>
                <div class = "Select2_">
                    <label>是否工作单位<label>
                </div>
                <div class = "Button_">
                    <label>操作<label>
                </div>
            </div>
            <div class = "area">
                <div class = "title_">
                     <b>其他说明（不超过300字） </b>
                </div>
                <div class = "TBox">
                    <textarea type = "text"></textarea>
                </div>
            </div>
            <div class = "btn">
            </div>
        </div>
        <div class = "footer">
        </div>
    </body>
</html>